.table_product{
  width: 80%;
  margin: auto;
  height: 1800px;
  padding-top: 30px;
}
.table_introduce_left{
  width: 20%;
  float: left;
  height: 1800px;
  color: #666666;
}
.table_introduce_right{
  width: 80%;
  float: left;
  height: 1800px;
}
.Shop_By{
  padding-right: 15px;
  
}

.conmunity_poll{
padding-right: 15px;
}
.Shop_By i{
margin-right: 10px;
font-size: 12px;
margin-bottom: 15px;
}
.Shop_By .fa-circle{
font-size: 8px;
}
.odd{
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  font-size: 15px;
  padding-top: 15px;
}
.Shop_By a:hover{
color: #3cabda;
}
.even{
  border-bottom: 1px solid #ededed;
  padding-bottom: 15px;
  font-size: 15px;
  padding-top: 15px;
}
.Vote {
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  margin-top: 15px;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  margin-bottom: 20px;
}
.Vote a{
font-size: 20px;

 
}
.shop{
font-size: 120%;
margin-top: 15px;
text-decoration-line: underline;
text-decoration-color: #3cabda;
color: #666666;
font-family: Open Sans, sans-serif;
margin-bottom: 15px;


}
.Vote:hover {
background-color: #3cabda;

}
.Tag_list{
margin-left: 0px;
}
.tags-list{
list-style-type: none;
display: block;
}
.Tag_list ul li{
display: inline-table;
}
.tags-list li :hover{
background-color: #3cabda;
}
.tags-list li a{
display: inline-block;
border-radius: 14px;
border: 1px solid #dfdfdf;
text-align: center;
padding: 4px;
background-color: #fff;
color: #666666;
padding: 3px 10px;
font-size: 100% !important;
}

.View{
width: 150px;
height: 30px;
border-radius: 20px;
border: 1px solid #dfdfdf;
margin-top: 15px;
text-align: center;
padding-top: 7px;
font-size: 20px;
margin-bottom: 20px;
color: #666666;
}
.View a{
font-size: 20px;
}
.get_it_now{
width: 100px;
height: 25px;
border-radius: 16px;
border: 1px solid #dfdfdf;
margin-top: 15px;
margin-left: 30px;
padding-left: 10px;
padding-top: 7px;
font-size: 16px;
margin-bottom: 20px;
}
.View:hover{
 background-color: #3cabda;

}
.get_it_now:hover{
background-color: #3cabda;

}
.text-box{
padding: 9px 0px 8px 0px;
margin: 5px 0 1px;
font-size: 130%;
position: relative;
height: 26px;
line-height: 27px;
color: #666666;
}
.priceTextbox{
width: 43px;
border-radius: 16px;
height: 25px;
background-color: #fff;
border: 1px solid #dfdfdf;
text-align: center;
cursor: pointer;
  outline: none;
  color:#666666;
}
.price-from{
font-size: 15px;
}
.price-to{
font-size: 15px;
}
.price-separtor{
height: 1px;
width: 20%;
background-color: #e5e5e5;
margin-top: 12px;
margin-left: 5px;
margin-right: 5px;
}
/* product */
.toolbar{
  height: 50px;
  line-height: 50px;
  border: 1px solid #dfdfdf;
  margin-top: 30px;
}

.Grid {
  font-size: 30px;
  color: #3cabda;
  padding-left: 12px;
  padding-right: 20px;
}
.Grid i{
font-size: 25px;
}
.list i{
font-size: 25px;
}
.list{
  font-size: 30px;
  padding-right: 20px;
  color: #dfdfdf;
}
.list:hover{
  color: #3cabda;
}
.select-limit-show{
  width: 60px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  
}
.per_page{
  color: #666666;
  margin-right: 15px;
}
.select-sort-by{
  width: 80px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  margin-left: 5px;
  cursor: pointer;
  outline: none;
}
.set-desc{
  right: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 230px;
}
.Product{

height: 1250px;
}


.mySlides {
  display: none
}
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

.next {
right: 0;
height: 30px;
width: 30px;
border: 1px solid #dfdfdf;
border-radius: 50%;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 7px;
padding-right: 7px;
}

/* On hover, add a black background color with a little bit see-through */
.next:hover {
background-color: #3cabda;
}

.dot {
cursor: pointer;
height: 30px;
width: 30px;
border: 1px solid #dfdfdf;
border-radius: 50%;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 7px;
padding-right: 7px;


}

.active, .dot:hover {
background-color: #3cabda;
}
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
.slideshow{
padding-top: 20px;
padding-right: 5px;
}
.mySlides1 {
display: none;
}
img {
vertical-align: middle;
}

.dot1 {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color:#3cabda;
}
/* product */
.product{
width: 80%;
margin: auto;
}

.sns_breadcrumb{
  width: 100%;
  height: 145px;
  background-image: url(http://demo.snstheme.com/sns-nova/media/wysiwyg/sl-bg.jpg);
  background-color: #3cabda;
  background-position: top center;
  background-repeat: no-repeat;

}
.sns_breadcrumb .containers{
   margin-left: auto;
   margin-right: auto;
   background: none;
   
}
.sns_breadcrumb .row_fluid{
   width: 80%;
   height: 85px;
   margin:auto;
   padding-top: 30px;
   background: none;
}
.sns-titlepage {
   color: #fff;
   font-size: 24px;
   font-family: arial, sans-serif;
   font-weight: 100;
   background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-pagetitle.png) no-repeat left center;
   margin-bottom: 25px;
   padding-left: 45px;
}
.sns-titlepage span{
  color: #fff;
  font-size: 24px;
  font-family: arial, sans-serif;
  font-weight: 100;
  background: none;
}
.sns-pathway{
   color:#fff;
   font-size: 12px;
   font-family: arial, sans-serif;
   font-weight: inherit;
   background: none;
}

.sns-pathway .contacts{
  padding: 0 15px 0 20px;
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/arrow-bread.png) no-repeat left center;
  color: #FFF;
}
.sns-pathway .home{
   background: none;
   padding-right: 15px;
   
}
.sns-pathway .home i{
  background: none; 
  color: aliceblue;
}
.sns-pathway .home  span{
  background: none;
  color: aliceblue;
}
a{
   text-decoration: none;
}
.sns-pathway i{
   padding-right: 5px;
}
.contact-content{
   width: 80%;
   padding-top: 20px;
   padding-bottom: 5px;
   margin: auto;
   text-align: center;
   color: #666666;
   line-height: 18px;
   font-family: arial, sans-serif;
  font-size: 12px;

}






