* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 12px;
    background-color: #ffffff;
}

/* top header */
.header {
    width: 100%;
    height: 36px;
}

.container {
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.header .sns_topheader {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 36px;
}

.header .sns_topheader a,span {
    color: #909090;
}

.header .sns_topheader .sns_topheader--left a {
    margin-right: 15px;
}

.header .sns_topheader .sns_topheader--right a:not(:last-child) {
    border-right: 1px solid black;
    line-height: 36px;
}

.header .sns_topheader .sns_topheader--right a {
    text-decoration: none;
    padding: 1px 10px;
}

/* main header */

.sns_mainheader {
    width: 80%;
    height: 47px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}

.sns_mainheader .logo span {
    display: none;
}

.sns_mainheader .search  input {
    width: 250px;
    height: 47px;
    border-radius: 50px;
    font-size: 20px;
    padding-left: 10px;
    
}

