* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
  background-color: #ffffff;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.content .header {
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

.content .sns_topheader a,
span {
  color: #909090;
}

a {
  text-decoration: none;
  color: #666666;
}

/* sns_topheader */
.content .sns_topheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 36px;
  line-height: 36px;
}

.content .sns_topheader .left a {
  margin-right: 15px;
  text-decoration: none;
}

.content .sns_topheader .right a:not(:last-child) {
  border-right: 1px solid black;
  line-height: 36px;
}

.content .sns_topheader .right {
  float: left;
}

.content .sns_topheader .right a {
  text-decoration: none;
  padding: 1px 10px;
}

.content .container .sns_topheader a:hover,
span:hover {
  color: #3cabda;
}

.content .container .sns_topheader span {
  cursor: pointer;
}

/* .sns_mainheader */
.sns_mainheader {
  height: 47px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.sns_mainheader .logo span {
  display: none;
}

.content .sns_mainheader .form-seacrh {
  position: relative;
  float: left;
}

.content .sns_mainheader .form-seacrh .input-text {
  border-radius: 22px;
  border: 1px solid #d8d8d8;
  font-size: 12px;
  width: 235px;
  height: 45px;
  padding: 10px 20px;
  color: #333;
  background-color: #fff;
  outline: none;
}

.content .sns_mainheader .form-seacrh .button {
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-search.png)
    no-repeat center center;
  padding: 0 0;
  width: 26px;
  height: 26px;
  border: none;
  position: absolute;
  top: 9px;
  right: 11px;
  outline: none;
}

.content .sns_mainheader .sns_mainheader--right .connect-us {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.content .sns_mainheader .sns_mainheader--right .connect-us li {
  margin-left: 5px;
  float: left;
  display: inline-block;
}

.content .sns_mainheader .sns_mainheader--right .connect-us li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #c9c9c9;
}

.content .sns_mainheader .sns_mainheader--right .connect-us li a i {
  font-size: 20px;
}

.content .sns_mainheader .sns_mainheader--right .connect-us .facebook:hover {
  border-color: #3197f7;
  color: #3197f7;
}

.content .sns_mainheader .sns_mainheader--right .connect-us .twitter:hover {
  border-color: #16def0;
  color: #16def0;
}

.content .sns_mainheader .sns_mainheader--right .connect-us .youtube:hover {
  border-color: #e82a2a;
  color: #e82a2a;
}

.content .sns_mainheader .sns_mainheader--right .connect-us .google:hover {
  border-color: #e81212;
  color: #e81212;
}

/* menu */

.sns_menu {
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 2;
}

.sns_menu::before {
  background-image: url(http://demo.snstheme.com/sns-nova/media/wysiwyg/sl-bg.jpg);
  background-color: #3cabda;
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.sns_menu .inner {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.1);
  /* background: #3cabda url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/breadcrumbs-bg.jpg) no-repeat center top; */
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.sns_menu .inner .container {
  height: 80px;
  width: 80%;
  position: relative;
  margin: 0 auto;
  background: none;
}

.sns_menu .inner .container .menu ul a li {
  font-size: 150%;
  font-weight: normal;
  color: #fff;
  padding: 8px 20px;
  background: none;
}

.sns_menu .inner .container .menu ul a:first-child li {
  display: block;
  background: none;
  border-radius: 22px;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

.sns_menu .inner .container .menu ul a li:hover {
  display: block;
  background: none;
  border-radius: 22px;
  position: relative;
  border: 1px solid transparent;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

.sns_menu .inner .container .menu ul a {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  padding: 0 15px;
  background: none;
  padding: 21px 0 21px 0;
}
.sns_menu .inner .container .menu-compare {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 49px;
  height: 49px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 15px;
  text-align: right;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/action-llist.png)
    no-repeat left -343px;
}

.sns_menu .inner .container .menu-cart {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 49px;
  height: 49px;
  cursor: pointer;
  position: absolute;
  right: 65px;
  top: 15px;
  text-align: right;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/action-llist.png)
    no-repeat left -147px;
}

.sns_menu .inner .container .menu-cart:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sns_menu .inner .container .menu-compare:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* slideshow */

.sns_slideshow {
  width: 100%;
  margin: 0 auto;
}

.content .slides,.content .banner {
  margin-top:10px;
}

.content .slides img {
  width: 800px;
  height: 336px;
}

.content .slides  {
  display: flex;
  overflow: hidden;
}

.content .slide_text {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.banner {
  width: 800px;
  margin: 0 auto;
  margin-top: 60px;
}
.slides {
  width: 800px;
  height: 330px;
  overflow: hidden;
  position: relative;
}
.wrap {
  width: 800px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: left ease-in-out 0.5s;
}
.slides .slide {
  float: left;
}
.clearfix {
  clear: both;
}
.slides .button .prev,
.slides .button .next {
  /* display: flex; */
  width: 48px;
  height: 32px;
  padding-bottom: 16px;
  color: #fff;
  background: #34495e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  font-size: 48px;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  opacity: 0.5;
  display: none;
}

.slides:hover .button .prev span,
.slides:hover .button .next span{
  background: none;
  font-size: 2rem;
}


.slides:hover .button .prev,
.slides:hover .button .next {
  display: flex;
}
.slides .button span {
  display: block;
  line-height: 40px;
}
.slides .button .prev {
  left: 20px;
}
.slides .button .next {
  right: 20px;
}

.banner-child {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* service */

.content .sns_service {
  padding-bottom: 80px;
  border-bottom: 1px solid #ebebeb;
}
.content .sns_service .container {
  width: 80%;
  height: 60px;
  margin: 40px auto 0;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;
}

.sns_service .block {
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 106px 0 0;
  text-align: center;
}
.sns_service .block .block-title {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding-top: 0px;
  text-transform: none;
}
.sns_service .block .block-title span:before {
  position: absolute;
  content: "";
  height: 78px;
  width: 78px;
  border: 3px solid #fff;
  left: 50%;
  top: 1px;
  margin-left: -42px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
}
.sns_service .block .block-title span {
  font-size: 1.5rem;
}
.sns_service .block .block-title span:after {
  position: absolute;
  content: "";
  background: url("http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-shoppolicy.png")
    no-repeat -78px top;
  left: 50%;
  top: 4px;
  margin-left: -39px;
  height: 78px;
  width: 78px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sns_service .block .block-title:before {
  position: absolute;
  content: "";
  height: 84px;
  width: 84px;
  border: 1px solid #dfdfdf;
  left: 50%;
  top: 0px;
  margin-left: -43px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sns_service .block.money-back .block-title span:after {
  background-position: -234px top;
}
.sns_service .block.money-back:hover .block-title span:after {
  background-position: -156px top;
}
.sns_service .block.orders-247 .block-title span:after {
  background-position: -390px top;
}
.sns_service .block.orders-247:hover .block-title span:after {
  background-position: -312px top;
}
.sns_service .block.secured-payment .block-title span:after {
  background-position: -546px top;
}
.sns_service .block.secured-payment:hover .block-title span:after {
  background-position: -468px top;
}
.sns_service .block:hover .block-title span {
  color: #3cabda;
}
.sns_service .block:hover .block-title:before {
  border-color: #3cabda;
}
.sns_service .block:hover .block-title span:after {
  background-position: 0px top;
}
.sns_service .block:hover .block-title span:before {
  background: #3cabda;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* products */

.sns_content {
  margin: 40px 0 40px;
  position: relative;
  z-index: 0;
  min-height: 400px;
}

.sns_content .container {
  width: 70%;
  margin: 0 auto;
}

.sns_content .container .sns_content--selected .selected ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.sns_content .container .sns_content--selected .selected ul li {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 1px solid #e5e5e5;
  height: 42px;
  line-height: 42px;
  padding: 0 32px;
  display: inline-block;
  background: #fff;
  color: #666666;
  margin: 0 0 0 5px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}

.sns_content .container .sns_content--selected .selected ul a:first-child li {
  background-color: #3cabda;
  color: #fff;
  border-color: #3cabda;
}

.sns_content .container .sns_content--selected .selected ul a li {
  text-decoration: none;
  font-size: 1.5rem;
}

.sns_content .container .sns_content--selected .selected ul li:hover {
  background-color: #3cabda;
  color: #fff;
  border-color: #3cabda;
}

/* product */

.sns_content .sns_products {
  margin-bottom: 30px;
}

.sns_products .sns_products--one .row .products-img {
  position: relative;
}

.sns_products .sns_products--one {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sns_products .sns_products--one .row {
  height: 383px;
  border: solid 1px #e9e9e9;
  position: relative;
}

.sns_products .sns_products--one .row img {
  border-bottom: solid 1px #e9e9e9;
  position: relative;
  width: 250px;
}

.sns_products .sns_products--one .row span {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 1.3rem;
}

.sns_products .sns_products--one .row img::after {
  content: "";
  z-index: 2;
  background-color: #3cabda;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
}

.sns_products .sns_products--one .row span:last-child {
  font-size: 1.5rem;
}

.sns_products .sns_products--one .row:hover {
  border: solid 1px #3cabda;
  color: #3cabda;
}

.sns_products .sns_products--one .row:hover > span:nth-child(2) {
  color: #3cabda;
}

.sns_products .sns_products--one .row:hover img {
  border-bottom: solid 1px #3cabda;
}

.sns_products .sns_products--one .row:hover .products-img button {
  background-color: #3cabda;
  color: #fff;
  border-color: #3cabda;
}
.sns_products .sns_products--one .row:hover button::before {
  background-position: -3px top;
}

.sns_products .sns_products--one .row button {
  font-size: 116.7%;
  text-transform: none;
  position: relative;
  height: 34px;
  padding: 0 17px 0 47px;
  border-radius: 18px;
  color: #666666;
  border: 1px solid #e5e5e5;
  background: #fff;
  transition: all 0.2s ease-out;
  position: absolute;
  top: -15px;
  left: 25%;
  cursor: pointer;
}

.sns_products .sns_products--one .row .products-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  content: "";
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-out 0.2s;
  -moz-transition: all 0.4s ease-out 0.2s;
  -o-transition: all 0.4s ease-out 0.2s;
  transition: all 0.4s ease-out 0.2s;
  background-color: rgba(255, 255, 255, 0.4);
}

.sns_products .sns_products--one .row button::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 34px;
  top: -2px;
  left: 10px;
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-cart.png)
    no-repeat -38px top;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.sns_products .products-img .item-box-hover {
  z-index: 2;
  background-color: #3cabda;
  background-color: rgba(62, 171, 218, 0.8);
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: -87px;
  left: 0px;
  visibility: hidden;
}

.sns_products .products-img .item-box-hover .box-inner ul {
  list-style: none;
}

.sns_products .products-img .item-box-hover .box-inner {
  width: 183px;
  margin: 18px auto 0;
  background: white;
}

.sns_products .products-img .item-box-hover .box-inner ul li a {
  z-index: -1;
  width: 49px;
  height: 49px;
  border: 1px solid #fff;
  position: relative;
  display: inline-block;
  padding: 0 0;
  margin: 0 5px;
  background-color: rgba(62, 171, 218, 0.8);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  float: left;
}

.sns_products .products-img .item-box-hover .box-inner ul li a::before {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/action-lgrid.png);
  background-repeat: no-repeat;
  background-position: left top;
  left: 0px;
  top: 0px;
}

.sns_products .sns_products--one .row:hover .item-box-hover {
  visibility: visible;
  bottom: 3px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sns_products
  .products-img
  .item-box-hover
  .box-inner
  ul
  li
  a.add-to-compare::before {
  background-position: left -98px;
}

.sns_products
  .products-img
  .item-box-hover
  .box-inner
  ul
  li
  a.add-to-search::before {
  background-position: left -196px;
}

.sns_products
  .products-img
  .item-box-hover
  .box-inner
  ul
  li
  a.add-to-compare:hover::before {
  background-position: left -147px;
}

.sns_products
  .products-img
  .item-box-hover
  .box-inner
  ul
  li
  a.add-to-search:hover::before {
  background-position: left -245px;
}

.sns_products .products-img .item-box-hover .box-inner ul li a:hover::before {
  background-position: left -47px;
}

.sns_products .products-img .item-box-hover .box-inner ul li a:hover {
  background-color: #fff;
}

/* loadmore */

.sns_content .sns_loadmore {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.sns_content .btn_loadmore {
  display: inline-block;
  font-size: 150%;
  text-transform: none;
  color: #666666;
  padding: 0 20px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  background: #fff;
}

.sns_content .btn_loadmore .load-text {
  font-size: 150%;
  padding: 0 0;
  height: 100%;
  padding-right: 22px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-plus.png)
    no-repeat right 2px;
  display: block;
  color: #666666;
}

.pdt-loadmore .btn_loadmore .icon-spin {
  display: none;
  position: absolute;
  left: 14px;
  top: 9px;
  font-size: 16px;
  color: #fff;
}

.sns_content .btn_loadmore:hover {
  background-color: rgba(62, 171, 218, 0.8);
}

.sns_content .btn_loadmore:hover .load-text {
  background-position: right -40px;
  color: #fff;
}

/* client-say */
.content .sns_client-say {
  background-image: url(http://demo.snstheme.com/sns-nova/media/wysiwyg/testimonials-bg.jpg);
  background-position: center top;
  margin: 0 0 30px;
  padding: 150px 0 10px;
  text-align: center;
  width: 100%;
}
.content .sns_client-say .container{
  background: none;
}
.content .sns_client-say .block-title {
  position: relative;
  padding: 0px 10px 10px;
  display: inline-block;
  font-size: 183.3%;
  text-transform: uppercase;
  color: #fff;
  background: none;
}
.content .sns_client-say .pretext{
  background: none;
  color: #fff;
  font-style: italic;
}
.content .sns_client-say .name{
  background: none;
  color: #fff;
  margin-top: 5px;
}
.content .sns_client-say .block-title:before {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  content: "";
  left: 50%;
  top: -120px;
  margin-left: -44px;
  height: 87px;
  width: 87px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #FFF;
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/title-testimonials.png) no-repeat left top;
  z-index: 1;
}

.content .sns_client-say .block-title:after {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: absolute;
  content: "";
  left: 50%;
  top: -120px;
  margin-left: -44px;
  height: 87px;
  width: 87px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.content .sns_client-say .block-content {
  overflow: hidden;
  color: #FFF;
  padding: 0 10%;
  position: relative;
}

.content .sns_client-say .block-content .list-quotes {
  position: relative;
  padding: 35px 0 15px;
}

.content .sns_client-say .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* the-best-digital */

.content .sns_productswap {
  margin: 0 0 40px;
}

.content .sns_productswap .container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.content .sns_productswap .container .title {
  text-transform: uppercase;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-weight: 300 !important;
}

.content .sns_productswap .container .title span {
  font-size: 180.33333%;
  color: #666666;
  position: relative;
  display: inline-block;
  padding: 0 0 10px;
}

.content .sns_productswap .container .title span:before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -14px;
  height: 1px;
  width: 100%;
  background: #ebebeb;
}

.sns_productswap .navigation {
  position: relative;
  width: 61px;
  height: 28px;
  display: inline-block;
  background: #fff;
  top: 0px;
  right: 0px;
  margin: 0 0;
  list-style: none;
}

.container .navigation .next,
.container .navigation .prev {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 0 0 0 5px;
  width: 26px;
  height: 26px;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  text-indent: -999em;
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-pager.png)
    no-repeat -78px 6px;
}

.container .navigation .prev {
  left: 0px;
  right: auto;
  background-position: 0px 6px;
  margin: 0 0;
}

.container .navigation .next:hover,
.container .navigation .prev:hover {
  background-position: -52px 6px;
  background-color: #3cabda;
  border-color: #3cabda;
}

.container .navigation .prev:hover {
  background-position: -26px 6px;
}

.sns_productswap .pretext {
  width: 80%;
  margin: 0 auto;
  color: #666666;
}

/* panner */
.sns_panner {
  width: 100%;
}

.sns_panner .container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.sns_panner .sns_panner-left {
  width: 50%;
  margin-right: 15px;
}

.sns_panner .sns_panner-right {
  width: 50%;
  margin-left: 15px;
}

.sns_panner a img {
  max-width: 100%;
}

/* ourbrands */
.ourbrand {
  width: 100%;
  margin-top: 50px;
  
}

.ourbrand .container {
  margin: 0 auto;
  width: 70%;
}

.ourbrand .container .title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.ourbrand .container .title span {
  font-size: 150%;
  color: #666666;
  position: relative;
  display: inline-block;
}

.ourbrand .container .title span:after {
  content: "";
  width: 100%;
  position: absolute;
  content: "";
  left: 0px;
  bottom: -14px;
  height: 1px;
  width: 100%;
  background: #666666;
}

.ourbrand .brands {
  display: flex;
  justify-content: space-between;
}

/* .sns_botsl */
.sns_botsl {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid #ebebeb;
  padding-top: 40px;
}

.sns_botsl .row-fluid {
  display: flex;
  justify-content: space-between;
}

.sns_botsl .container {
  width: 80%;
  margin: 0 auto;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
}

.sns_botsl .block .block-title {
  text-transform: none;
  font-size: 183.3%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666666;
}

.sns_botsl .block .block-content {
  padding-top: 20px;
  line-height: 18px;
}

.block .block-content {
  padding: 10px 0;
}

.sns_botsl .block .block-content ul {
  margin: 0 0;
  list-style: none;
}

.sns_botsl .block .block-content ul li {
  padding: 3px 0 3px 20px;
  line-height: 18px;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.sns_botsl .block .block-content ul li a {
  text-decoration: none;
  color: #666666;
}

.sns_botsl .block .block-content ul li a:hover {
  text-decoration: none;
  color: #3cabda;
}

.sns_botsl .block .block-content ul li:before {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-dot.png)
    no-repeat left top;
  height: 9px;
  width: 9px;
  position: absolute;
  top: 8px;
  left: 0px;
  content: "";
}

.sns_botsl .block .block-content ul li:hover {
  margin-left: 8px;
}

.sns_botsl .block-connectus .block-content p.c-address {
  line-height: 18px;
}

.block.block-connectus .block-content p {
  line-height: 24px;
  margin: 0 0 3px 0;
  padding: 0 0 0 46px;
  position: relative;
  color: #666666;
  height: 48px;
}

.block.block-connectus .block-content p:before {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0px;
  top: -2px;
  background-image: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-contactus.png);
  background-position: top left;
  background-repeat: no-repeat;
  border: 1px solid #dfdfdf;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.block.block-connectus .block-content p:hover {
  color: #3197f7;
}

.block.block-connectus .block-content p:hover a {
  color: #3197f7;
}

.block.block-connectus .block-content p.c-email:before {
  background-position: left -68px;
}

.block.block-connectus .block-content p.c-phone:before {
  background-position: left -136px;
}

.block.block-connectus .block-content p:hover:before {
  border-color: #3cabda;
  background-position: left -34px;
}

.block-connectus .block-content p.c-email:hover:before {
  background-position: left -102px;
}

.block-connectus .block-content p.c-phone:hover:before {
  background-position: left -170px;
}

.sns_botsl .block-subscribe .block-content label {
  cursor: pointer;
  margin: 3px 0 15px;
  color: #666666;
  line-height: 18px;
}

.sns_botsl .block-subscribe .block-content form {
  margin-bottom: 0px;
}

.sns_botsl .block-subscribe .block-content form .input-box input {
  width: 220px;
  float: left;
  padding: 8px 15px;
  font-size: 11px;
  margin: 20px 0 0 0;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  outline: none;
  border: solid 1px #666666;
}

.sns_botsl .block-subscribe .block-content form .input-box .actions {
  margin-left: -60px;
  position: relative;
  height: 40px;
  width: 55px;
}

.sns_botsl .block-subscribe .block-content form .input-box .actions button {
  position: absolute;
  right: -250px;
  top: 19px;
  padding: 10px 14px;
  background-color: transparent;
  height: 38px;
  border: none;
  outline: none;
}

.sns_botsl
  .block-subscribe
  .block-content
  form
  .input-box
  .actions
  button
  > span {
  width: 25px;
  height: 16px;
  display: inline-block;
  background-position: left top;
  background-image: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/ico-mail.png);
  background-repeat: no-repeat;
  outline: none;
  border: none;
}

.sns_botsl
  .block-subscribe
  .block-content
  form
  .input-box
  .actions
  button
  > span
  span {
  display: none;
}

 #sns_footer {
  margin: 0 0;
  padding: 0 0 40px;
  border-top: 1px solid #ebebeb;
}

#sns_footer .container {
  width: 70%;
  margin: 0 auto;
}

.row-fluid .span12 {
  margin: 0 0;
}

.row-fluid .span12 {
  width: 100%;
}

#sns_footer ul.payment {
  list-style: none;
  margin: 0 0 0 -157px;
  text-align: center;
  position: relative;
  top: -28px;
  width: 315px;
  left: 50%;
  height: 55px;
}

#sns_footer ul.payment li:first-child {
  padding-left: 0px;
}

#sns_footer ul.payment li {
  display: inline-block;
  padding: 0 0 0 10px;
  background: #fff;
  float: left;
}

#sns_footer ul.payment li a {
  background-image: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/pay-me.png);
  background-repeat: no-repeat;
  text-indent: -999em;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  background-position: left top;
  height: 53px;
  width: 53px;
  display: inline-block;
  border: 1px solid #e1e1e1;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  top: 0px;
}

#sns_footer ul.payment li a.skrill {
  background-position: left -53px;
}

#sns_footer ul.payment li a.maestro {
  background-position: left -106px;
}

#sns_footer ul.payment li a.cirus {
  background-position: left -159px;
}

#sns_footer ul.payment li a.payment {
  background-position: left -212px;
}

#sns_footer ul.payment li:hover a {
  top: -10px;
}

#sns_footer .sns-info {
  text-align: center;
}

#sns_footer .sns-info ul {
  font-size: 92%;
  display: inline-block;
  margin: 0 0;
  list-style: none;
}

#sns_footer .sns-info ul li:first-child {
  padding-left: 0px;
  background: none;
}

#sns_footer .sns-info ul li {
  background: url(http://demo.snstheme.com/sns-nova/skin/frontend/default/sns_nova/images/separated.gif)
    no-repeat left center;
  display: inline-block;
  padding: 0 13px 0 15px;
}

#sns_footer .sns-info ul li.last {
  padding-right: 0px;
}

#sns_footer .sns-copyright {
  text-align: center;
  width: 100%;
  color: #666666;
  padding: 3px 0 0;
}

#sns_footer .sns-copyright a {
  color: #3cabda;
}
